<h1>Gallery</h1>

    <% @posts.each do |post| %>
    <% favorites_count = Favorite.where(post_id: post.id).count %>
        <%= link_to post, class: "image" do %>
          <%= image_tag post.image %>
          <p class="image_text"><i class="fas fa-heart"> <%= "#{favorites_count}件" %></i></p>
        <% end %>
    <% end %>
