.show_image{
  margin-top: 10px;
  margin-bottom: 10px;
}

i{
  margin-right: 3px;
}

.image{
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 100%;
}

.image_text{
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding:inherit;
  background: rgba(0,0,0,0.5);
  opacity: 0;
}

.image_text i{
  margin: auto;
}

.image:hover .image_text{
  opacity: 1;
}

.fa-heart{
  margin-right: 10px;
}
.like-btn{
  color: #8899a6;
}

.like-btn-unlike{
  color: #ff2581;
}

.field p{
  margin-bottom: 0;
  margin-top: 10px;
}
